@model  WebApplication2.Models.Class
@{
    ViewBag.Title = "Odpowiedz";
}
<body>
    <div>
        <font color="red" size="7">
            <div align="center" id="Container">

                <div id="Odpowiedz">
                    <br />
                    <br />
                    <br />
                    <br />
                    @Html.DisplayFor(model => Model.odpowiedz)
                    
                </div>

            </div>
        </font>

    </div>
</body>